/*Reset basico*/
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*Estilo general*/

body{
    fornt-family: Arial, sans-serif;
    line-height: 1.6;
    background-image:url(image.svg) ;
    color:#560561d9;
    margin:0;
}


/*Header*/
header {
background: color #111827;
color: white
padding: 1rem;
}


header nav ul{
    display:flex;
    list-style: none;
justify-content: center;
}

header nav ul li{
    margin: 0 1rem;

}

header nav ul li{
    color:rgb(74, 11, 11)
    text-decoration:none;
    font-weight: bold;
}

/*main*/
main{
    padding:2rem;
}

section{
    margin-bottom: 2rem;
}


h1, h2{
    color:#111827
}


/*footer*/
 footer{
    text-align: center;
    padding: 1rem;
    background-color: #111827;
    color: white;
 }
